@charset "UTF-8";

* { /* CONFIGURAÇÕES GERAIS para resetar todos os nossos elementos */
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase;
    Deixa todas as letra maiúsculas */
    font-variant: small-caps; /* Todas as letras ficam maiúsculas, mas a primeira de cada palavra fica maior do que as demais. */
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(12, 12, 12);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.521);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}